/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// https://github.com/urob/zmk-config#timeless-homerow-mods
// troubleshooting : https://github.com/urob/zmk-config#troubleshooting

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "accents.dtsi"
#include "keys_fr.h"
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/42.h"
#include "zmk-helpers/unicode-chars/french.dtsi"
#include <dt-bindings/zmk/bt.h>
#define _BT_SEL_KEYS_ &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <../boards/shields/corne/boards/nice_nano.overlay>

// Overwrite number of leds on the keyboard. A Corne has 27 per side.
&led_strip { chain-length = <27>; };

#define WINDOWS_BASE 0
#define WM_WINDOWS 1
#define NAV_WINDOWS 2
#define MACOS_BASE 3
#define WM_MACOS 4
#define NAV_MACOS 5
#define NUM 6
#define FUN 7
#define MINECRAFT 8


#define XXX &none
#define ___ &trans

/* Global settings */

#define QUICK_TAP_MS 175

ZMK_BEHAVIOR(ht, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&kp>, <&kp>;
)

// reuse basic mod-morph scheme
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )
//tap: / | shift + tap: |  | ctrl + tap: "\"

SIMPLE_MORPH(slh_inner_morph, CTL, &kp PIPE, &kp BSLH)
ZMK_BEHAVIOR(slh_morph, mod_morph,
    mods = <(MOD_LCTL|MOD_RCTL|MOD_LSFT|MOD_RSFT)>; \
    bindings = <&kp FSLH>, <&slh_inner_morph>; \
)

// tap: question mark | shift + tap : exclamation
SIMPLE_MORPH(excl_morph, SFT, &kp QMARK, &kp EXCL)

// tap: ' | shift + tap: "
ZMK_BEHAVIOR(macro_sqt, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp SQT &kp SPACE>;
)ZMK_BEHAVIOR(macro_dqt, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp DQT &kp SPACE>;
)ZMK_BEHAVIOR(macro_bqt, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp LA(GRAVE)>;
)

// macOS accent macros
ZMK_BEHAVIOR(macro_eacu_mac, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp SQT &kp E>;
)

ZMK_BEHAVIOR(macro_egrv_mac, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp GRAVE &kp E>;
)

ZMK_BEHAVIOR(macro_agrv_mac, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp GRAVE &kp A>;
)

ZMK_BEHAVIOR(macro_ugrv_mac, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp GRAVE &kp U>;
)

ZMK_BEHAVIOR(macro_cced_mac, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp LA(C)>;
)

ZMK_BEHAVIOR(macro_tilde_mac, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp LS(GRAVE) &kp SPACE>;
)

SIMPLE_MORPH(quotes_morph, SFT, &macro_sqt, &macro_dqt)

// tap: S | alt + tap: $
SIMPLE_MORPH(s_morph, ALT, &kp S, &kp DOLLAR)

// tap: E | alt + tap: € (Windows)
SIMPLE_MORPH(e_morph, ALT, &kp E, &kp US_EURO)

// tap: E | alt + tap: € (macOS using Option+Shift+2)
SIMPLE_MORPH(e_morph_mac, ALT, &kp E, &kp LA(LS(N2)))

// tap: comma | shift + tap: semicolon
SIMPLE_MORPH(comma_morph, SFT, &kp COMMA, &kp SEMICOLON)

// tap: dot | shift + tap: colon
SIMPLE_MORPH(dot_morph, SFT, &kp DOT, &kp COLON)

// tap : () | shift + tap : {} | ctrl + tap : []
SIMPLE_MORPH(all_paro1, ALT, &kp LBRC, &kp LBKT)
ZMK_BEHAVIOR(all_paro, mod_morph,
    mods = <(MOD_LALT|MOD_RALT|MOD_LSFT|MOD_RSFT)>; \
    bindings = <&kp LPAR>, <&all_paro1>; \
)
SIMPLE_MORPH(all_parf1, ALT, &kp RBRC, &kp RBKT)
ZMK_BEHAVIOR(all_parf, mod_morph,
    mods = <(MOD_LALT|MOD_RALT|MOD_LSFT|MOD_RSFT)>; \
    bindings = <&kp RPAR>, <&all_parf1>; \
)
// hold : parenthesis close | tap : parenthesis open
ZMK_BEHAVIOR(ht_par, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&all_parf>, <&all_paro>;
)

// hold : CAPS | tap : caps_word
ZMK_BEHAVIOR(ht_caps, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&kp>, <&caps_word>;
)

// Windows-specific combos
ZMK_COMBO(cut_win, &kp LC(X), LB4 LB2, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(copy_win, &kp LC(C), LB4 LB3, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(paste_win, &kp LC(V), LB3 LB2, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(undo_win, &kp LC(Z), LB4 LB1, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(redo_win, &kp LC(Y), LB4 LB0, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(save_win, &kp LC(S), LM1 LM0, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(select_all_win, &kp LC(A), LM3 LM4, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(replace_win, &kp LC(H), LT1 LT2, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)

// macOS-specific combos
ZMK_COMBO(cut_mac, &kp LG(X), LB4 LB2, MACOS_BASE WM_MACOS NAV_MACOS)
ZMK_COMBO(copy_mac, &kp LG(C), LB4 LB3, MACOS_BASE WM_MACOS NAV_MACOS)
ZMK_COMBO(paste_mac, &kp LG(V), LB3 LB2, MACOS_BASE WM_MACOS NAV_MACOS)
ZMK_COMBO(undo_mac, &kp LG(Z), LB4 LB1, MACOS_BASE WM_MACOS NAV_MACOS)
ZMK_COMBO(redo_mac, &kp LG(Y), LB4 LB0, MACOS_BASE WM_MACOS NAV_MACOS)
ZMK_COMBO(save_mac, &kp LG(S), LM1 LM0, MACOS_BASE WM_MACOS NAV_MACOS)
ZMK_COMBO(select_all_mac, &kp LG(A), LM3 LM4, MACOS_BASE WM_MACOS NAV_MACOS)

// Shared combos
ZMK_COMBO(caps, &ht_caps CAPS 0, LM1 RM1, ALL)


// tap: < | shift + tap: > | hold: <>
SIMPLE_MORPH(chevrons_morph, SFT, &kp LT, &kp GT)
ZMK_BEHAVIOR(macro_chevrons, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp LT &kp GT &kp LEFT>;
)
ZMK_BEHAVIOR(ht_chevrons_morph, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&macro_chevrons>, <&chevrons_morph>;
)
ZMK_COMBO(chevrons, &ht_chevrons_morph 0 0, RB3 RB4, ALL)
ZMK_COMBO(slash, &slh_morph, LT1 LT0, ALL)
ZMK_COMBO(star, &kp STAR, RB0 RB4, ALL)
ZMK_COMBO(at, &kp AT, LM1 RM3, ALL)
ZMK_COMBO(hash, &kp HASH, RB2 RB3, ALL)
ZMK_COMBO(prc, &kp PERCENT, RB1 RB2, ALL)
ZMK_COMBO(and, &kp AMPS, LM1 RM2, ALL)

// tap: = | hold: !=
ZMK_BEHAVIOR(macro_diff, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp EXCL &kp EQUAL>;
)
ZMK_BEHAVIOR(ht_equal, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&macro_diff>, <&kp>;
)
ZMK_COMBO(equal_diff, &ht_equal 0 EQUAL, RB0 RB1, ALL)
// Windows-specific accents
ZMK_COMBO(eacu_win, &kp US_EACU, RM1 RM2, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(egrv_win, &ac_egrv, RM2 RM3, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(ecir_win, &ac_ecir, RT2 RM2, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(agrv_win, &ac_agrv, RT2 RM3, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(cced_win, &kp US_CCED, LM3 LM2, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)
ZMK_COMBO(combo_u_grave_win, &ac_ugrv, RT0 RT1, WINDOWS_BASE WM_WINDOWS NAV_WINDOWS NUM FUN MINECRAFT)

// macOS-specific accents
ZMK_COMBO(eacu_mac, &macro_eacu_mac, RM1 RM2, MACOS_BASE WM_MACOS NAV_MACOS)
ZMK_COMBO(egrv_mac, &macro_egrv_mac, RM2 RM3, MACOS_BASE WM_MACOS NAV_MACOS)
ZMK_COMBO(ecir_mac, &ac_ecir, RT2 RM2, MACOS_BASE WM_MACOS NAV_MACOS)  // Keep existing for ê
ZMK_COMBO(agrv_mac, &macro_agrv_mac, RT2 RM3, MACOS_BASE WM_MACOS NAV_MACOS)
ZMK_COMBO(cced_mac, &macro_cced_mac, LM3 LM2, MACOS_BASE WM_MACOS NAV_MACOS)
ZMK_COMBO(combo_u_grave_mac, &macro_ugrv_mac, RT0 RT1, MACOS_BASE WM_MACOS NAV_MACOS)

// Shared combos
ZMK_COMBO(circ, &kp CARET, LB2 LB1, ALL)
ZMK_COMBO(trema, &kp DQT, LM2 LM1, ALL)
ZMK_COMBO(combo_k, &kp K, RT2 RT3, ALL)  // O + Q for K
ZMK_COMBO(combo_z, &kp Z, RM3 RM4, ALL)  // A + H for Z
ZMK_COMBO(combo_dqt, &macro_bqt, RT0 RM0, ALL)  // ' + Y for `

// left-hand keys
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5 
// right-hand keys
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  
// thumb keys
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                      


#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_BEHAVIOR(NAME, hold_tap, \
        flavor = "balanced"; \
        tapping-term-ms = <280>; \
        quick-tap-ms = <QUICK_TAP_MS>; \
        require-prior-idle-ms = <150>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <TRIGGER_POS>; \
        hold-trigger-on-release; \
    )

// left-hand HRMs
MAKE_HRM(hml, &kp, &kp, KEYS_R THUMBS)

// right-hand HRMs
MAKE_HRM(hmr, &kp, &kp, KEYS_L THUMBS)

MAKE_HRM(hml_s, &kp, &s_morph, KEYS_R THUMBS)
MAKE_HRM(hmr_e, &kp, &e_morph, KEYS_L THUMBS)

// macOS version for E key (euro symbol)
MAKE_HRM(hmr_e_mac, &kp, &e_morph_mac, KEYS_L THUMBS)

// tap: minus | alt + tap: tilde
SIMPLE_MORPH(minus_morph, ALT, &kp MINUS, &kp TILDE)

// macOS version: minus | alt + tap: tilde via Option+N+Space
SIMPLE_MORPH(minus_morph_mac, ALT, &kp MINUS, &macro_tilde_mac)

ZMK_BEHAVIOR(lt_cstm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&mo>, <&kt>;
)

ZMK_BEHAVIOR(macro_vimw_win, macro_one_param,
    wait-ms = <100>;
    tap-ms = <5>;
    bindings = <&kp LC(W)>, <&macro_param_1to1>, <&kp MACRO_PLACEHOLDER>;
)

ZMK_BEHAVIOR(macro_vimw_mac, macro_one_param,
    wait-ms = <100>;
    tap-ms = <5>;
    bindings = <&kp LC(W)>, <&macro_param_1to1>, <&kp MACRO_PLACEHOLDER>;
)

ZMK_BEHAVIOR(macro_mode_windows, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp W &kp I &kp N &kp D &kp O &kp W &kp S>;
)

ZMK_BEHAVIOR(macro_mode_macos, macro,
    tap-ms = <10>;
    bindings = <&macro_tap &kp M &kp A &kp C &kp O &kp S>;
)

ZMK_BEHAVIOR(mode_switch_windows, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&macro_mode_windows>, <&to>;
)

ZMK_BEHAVIOR(mode_switch_macos, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&macro_mode_macos>, <&to>;
)


ZMK_LAYER(windows_base,
//╭───────────────────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp TAB                       &kp W         &kp G         &kp M         &kp F      &excl_morph     &quotes_morph   &kp U         &kp O         &kp Q         &kp J        XXX
//├───────────────────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &mode_switch_windows 0 MACOS_BASE &hml LGUI R   &hml_s LALT 0   &hml LCTRL N  &hml LSHFT T   &kp B        &kp Y         &hmr RSHFT I  &hmr_e LCTRL 0  &hmr LALT A  &hmr LGUI H  &kp LC(PG_UP)
//├───────────────────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX                          &kp X         &kp C         &kp L         &kp D         &kp V           &minus_morph    &kp P     &ht_par 0 0    &comma_morph  &dot_morph    &kp LC(PG_DN)
//╰───────────────────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                               &mo NUM    &lt NAV_WINDOWS SPACE &lt WM_WINDOWS DEL      &kp BSPC     &kp RET       &lt FUN ESC                                            
//                                                        ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                                          
)
ZMK_LAYER(wm_windows,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp LA(TAB)   XXX           XXX           XXX           XXX            XXX             XXX           XXX           XXX           XXX           XXX             &kp LG(Q)
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LG(N5)    &kp LG(N4)    &kp LG(N3)    &kp LG(N2)    &kp LG(N1)     XXX             XXX          &kp LG(LEFT)  &kp LG(DOWN)  &kp LG(UP)    &kp LG(RIGHT)   XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           XXX           XXX             XXX          &macro_vimw_win H &macro_vimw_win J &macro_vimw_win K &macro_vimw_win L XXX       
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              XXX           XXX           XXX            &kp LSHIFT     &kp LG(RET)         XXX                                              
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                                          
)

ZMK_LAYER(nav_windows,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           XXX           XXX           XXX           XXX           XXX             &kp PG_UP     &kp HOME      &kp END       XXX           XXX             &kp LG(Q) 
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX          &kp LGUI       &kp LALT     &kp LCTRL     &kp LSHIFT     XXX             &kp PG_DN    &kp LEFT       &kp DOWN      &kp UP        &kp RIGHT      XXX  
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           XXX           XXX             XXX           XXX           XXX           XXX           XXX           XXX       
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              XXX           XXX           XXX             XXX           XXX           XXX
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)


ZMK_LAYER(macos_base,
//╭─────────────────────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp TAB                      &kp W         &kp G         &kp M         &kp F         &excl_morph     &quotes_morph   &kp U         &kp O         &kp Q         &kp J        &kp LG(RET)
//├─────────────────────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &mode_switch_macos 0 WINDOWS_BASE &hml LCTRL R   &hml_s LALT 0   &hml LGUI N  &hml LSHFT T   &kp B    &kp Y         &hmr RSHFT I  &hmr_e_mac LGUI 0  &hmr LALT A  &hmr LCTRL H  &kp LC(PG_UP)
//├─────────────────────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX                           &kp X         &kp C         &kp L         &kp D         &kp V           &minus_morph_mac    &kp P     &ht_par 0 0    &comma_morph  &dot_morph    &kp LC(PG_DN)
//╰─────────────────────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                              &mo NUM      &lt NAV_MACOS SPACE &lt WM_MACOS DEL      &kp BSPC     &kp RET       &lt FUN ESC
//                                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(wm_macos,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp LG(TAB)   XXX           XXX           XXX           XXX            XXX             XXX           XXX           XXX           XXX           XXX             &kp LA(Q)
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp LA(N5)    &kp LA(N4)    &kp LA(N3)    &kp LA(N2)    &kp LA(N1)     XXX             XXX          &kp LA(LEFT)  &kp LA(DOWN)  &kp LA(UP)    &kp LA(RIGHT)   XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           XXX           XXX             XXX          &macro_vimw_mac H &macro_vimw_mac J &macro_vimw_mac K &macro_vimw_mac L XXX
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              XXX           XXX           XXX            &kp LSHIFT     &kp LG(RET)         XXX
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nav_macos,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           XXX           XXX           XXX           XXX           XXX             &kp PG_UP     &kp HOME     &kp END        XXX           XXX             &kp LG(Q)
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX          &kp LCTRL      &kp LALT     &kp LGUI      &kp LSHIFT     XXX             &kp PG_DN    &kp LEFT       &kp DOWN      &kp UP        &kp RIGHT      XXX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           XXX           XXX             XXX           XXX           XXX           XXX           XXX           XXX
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              XXX           XXX           XXX             XXX           XXX           XXX
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(num,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    XXX           XXX           XXX           XXX           XXX           XXX             &kp STAR      &kp N7        &kp N8        &kp N9         XXX          XXX          
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX          &kp LGUI       &kp LALT     &kp LCTRL     &kp LSHIFT     XXX             &kp FSLH      &kp N4        &kp N5         &kp N6        &kp N0         XXX  
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           XXX           XXX           XXX             ___          &kp N1         &kp N2        &kp N3         ___           XXX       
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              XXX           XXX           XXX             XXX           XXX           XXX                                              
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                                          
)

ZMK_BEHAVIOR(tg_bt, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&bt>, <&bt>;
)

ZMK_LAYER(fun,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &bt BT_SEL 5 &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2   &bt BT_SEL 1 &kp C_NEXT       &kp C_VOL_UP   &kp F7        &kp F8        &kp F9        &kp F12      &to MINECRAFT          
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &bt BT_CLR    &kp LGUI      &kp LALT      &kp LCTRL    &kp LSHIFT    &kp C_PP         &kp C_MUTE    &kp F4        &kp F5         &kp F6       &kp F10      XXX  
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    XXX           XXX           XXX           &out OUT_BLE &out OUT_USB &kp C_PREV       &kp C_VOL_DN &kp F1         &kp F2        &kp F3        &kp F11      XXX       
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              XXX           XXX           XXX             XXX           XXX           XXX                                              
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                                          
)



ZMK_BEHAVIOR(toggle, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&kp>, <&kt>;
)




ZMK_LAYER(minecraft,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &ht TAB ESC   &ht LC(Q) Q    &kp W        &kp E        &toggle R R    &kp F4          XXX           XXX           XXX           XXX           XXX           &to WINDOWS_BASE
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &toggle LSHFT LSHFT &kp A    &kp S        &kp D         &kp F         &kp B           XXX           XXX           XXX           XXX           XXX           &kp PG_DN
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp M         &kp X          &kp C         &kp L        &kp G         &kp V           XXX           XXX           XXX           XXX           XXX           &kp PG_UP
//╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              &kp F5        &kp SPACE     &kp F3          XXX           &kp RET       XXX
//                                          ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
)


