/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "accents.dtsi"
#include "keys_fr.h"

#define DEFAULT   0 // default_layer
#define SYMBOLS   1 // symbols_layer
#define FUNCTIONS 2 // functions layer
#define CONTROL   3 // media + bluetooth + Functions keys

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";
                control_layer {
                        if-layers = <SYMBOLS FUNCTIONS>;
                        then-layer = <CONTROL>;
                }; 
        };

        behaviors {
                ht: hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOLD_TAP";
                        #binding-cells = <2>;
                        tapping-term-ms = <500>;
                        quick-tap-ms = <200>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
                
                #include "behavior_mod_morph.dtsi"

        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | , < |  Q  |  W  |  F  |  P  |  G  |   |  J  |  L  | U ù |  Y  |  À  |   BKSP  |
// | . > |  A  |  R  |  S  |  T  |  D  |   |  H  |  N  | E € |  I  | O œ |   TAB   |
// | GUI |  Z  |  X  |  C  |  V  |  B  |   |  K  |  M  |  É  |  È  |  Ç  | ^ trema |
//                   |CTRL | LT1 | SPC |   |SHIFT| LT2 | ALT |
                        bindings = <
   &kp US_COMMA &kp US_Q  &kp US_W &kp US_F &kp US_P &kp US_G   &kp US_J &kp US_L  &u_custom   &kp US_Y &ac_agrv   &kp BSPC
   &kp US_DOT   &a_custom &kp US_R &kp US_S &kp US_T &kp US_D   &kp US_H &kp US_N  &e_custom   &kp US_I &o_custom   &kp TAB 
   &mt LGUI     &kp US_Z  &kp US_X &kp US_C &kp US_V &kp US_B   &kp US_K &kp US_M  &kp US_EACU &ac_egrv &kp US_CCED &accents
                              &kp LCTRL &mo SYMBOLS &kp SPACE   &kp RSHIFT &mo FUNCTIONS &kp RALT
                        >;
                };
                symbols_layer {
// -----------------------------------------------------------------------------------------
// |   ;  |  7  |  8  |  9  | - _ | [ ] |   |  %  |  *  |  /  |  \  |  ~  |BKSPC|
// |   :  |  1  |  2  |  3  |  0  | ( ) |   |  `  | ' " |  ^  |  $  |ENTER| TAB |
// |  GUI |  4  |  5  |  6  | = + | { } |   |  #  |  @  |  &  | "|" |  !  |  ?  |
//                    |CTRL | LT1 | SPC |   |SHIFT| LT2 | ALT |
                        bindings = <
   &kp US_SEMI  &kp US_7 &kp US_8 &kp US_9 &kp US_MINUS &BRK_cstm   &kp US_PERCENT &kp US_STAR &kp US_FSLH  &kp US_BSLH  &kp US_TILDE &trans
   &kp US_COLON &kp US_1 &kp US_2 &kp US_3 &kp US_0     &PAR_cstm   &kp US_GRAVE   &quotes     &kp US_CARET &kp US_DLLR  &kp ENTER    &trans
   &trans       &kp US_4 &kp US_5 &kp US_6 &kp US_EQUAL &BRC_cstm   &kp US_HASH    &kp US_AT   &kp US_AMPS  &kp US_PIPE2 &kp US_EXCL  &kp US_QMARK
                                  &trans   &trans       &trans      &trans         &trans      &trans
                        >;
                };

                functions_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |     |   |pg_up|     |  ↑  |     |     |BKSPC|
// |     |BKSPC| ESC | Home| End | Del |   |pg_dn|  ←  |  ↓  |  →  |ENTER| TAB |
// | GUI |     |     |     |     |     |   |     |     |     |     |     |     |
//                   |CTRL | LT1 | SPC |   |SHIFT| LT2 | ALT |
                        bindings = <
   &none  &none    &none   &none    &none   &none      &kp PG_UP &none    &kp UP   &none     &none     &trans
   &none  &kp BSPC &kp ESC &kp HOME &kp END &kp DEL    &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &kp ENTER &trans
   &trans &none    &none   &none    &none   &none      &none     &none    &none    &none     &none     &kp ESC
                    	   &trans   &trans  &trans     &none     &none    &none
                        >;
                };
                control_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
//                   |     |     |     |   |     |     |     |
                        bindings = <
   &kp F1     &kp F2       &kp F3       &kp F4       &kp F5       &kp F6       &kp F7     &kp F8   &kp F9     &kp F10      &kp F11      &kp F12
   &bt BT_CLR &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5 &kp C_PREV &kp C_PP &kp C_NEXT &kp C_VOL_UP &kp C_VOL_DN &kp C_MUTE
   &none      &none        &none        &none        &none        &none        &none      &none    &none      &none        &none        &none
                                        &trans       &trans       &trans       &trans     &trans   &trans
                        >;
                };
        };
};
